.search-bar {
    width:75%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border:2px solid gainsboro;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}



.bar1 {
  display: flex;
  justify-content: space-between;
  width: 22%;
 
}


.bar2 {
  display: flex;
  align-items: center;
  width: 30%;
}

.bar3{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   
}

.bar3-icons {
  display: flex;
  justify-content: space-between;
  
}


.bar3-icons i {
   padding: 10px;
}