.search-bar {
    width:75%;
    display: flex;
    justify-content: space-around;
    
}



.bar1 {
  display: flex;

  justify-content: space-between;
}


.bar2 {
   
}

.bar3{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}